#layout-model1 {
  display: grid;
  position: relative;
  align-items: center;
  text-align: center;
  height: 100%;
  grid-template-rows: 2.5fr 1fr 1fr 1fr;
  grid-auto-rows: 0;
  word-wrap: break-word;
}

#model1-title {
  --title-base: 2em;
  --text-increase: 0px;
  font-size: calc(var(--title-base) + var(--text-increase));
  grid-row: 2;
  margin: 0 1.25rem 0 1.25rem;
}

#model1-description, #model1-place, #model1-geolocation {
  --description-base: 1.2em;
  --text-increase: 0px;
  font-size: calc(var(--description-base) + var(--text-increase));
  grid-row: 3;
  margin: 0 1.25rem 0 1.25rem;
}

.starmap-info-wrapper {
  grid-row: 4;
}

#starmap-container {
  position: relative;
  grid-row: 1;
  justify-self: center;
}

#starmap-container_element {
  position: relative;
  --display-mode: none;
  --color: none;
}

#starmap-container_element::after {
  display: var(--display-mode);
  background: var(--color);
  mix-blend-mode: lighten;
  opacity: 0.75;
  position: absolute;
  content: "";
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border-radius: 50%;
}

#border-painting1 {
  display: none;
  position: absolute;
  height: fit-content;
  width: 57%;
  top: 0.3rem;
  grid-row: 1;
  right: 80px;
}

#border-painting2 {
  display: none;
  position: absolute;
  height: fit-content;
  justify-self: center;
  align-self: center;
  width: 57%;
  top: 0.3rem;
  grid-row: 1;
  right: 80px;
}

#border-painting3 {
  display: none;
  position: absolute;
  height: fit-content;
  justify-self: center;
  align-self: center;
  width: 57%;
  top: 0.3rem;
  grid-row: 1;
  right: 80px;
}

#frame-painting1 {
  display: none;
  position: absolute;
  width: calc(100% - 100px);
  height: calc(100% - 70px);
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  margin: 0 auto;
  margin-top: 2rem;
}

#frame-painting2 {
  display: none;
  position: absolute;
  width: calc(100%);
  height: calc(100% - 100px);
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  margin: 0 auto;
  margin-right: 17px;
  margin-top: 3rem;
}