@container detail-options-container (width < 540px) {
  .detail-options {
    grid-template-columns: repeat(2, 100px);
    grid-template-rows: auto;
  }
}

@container color-container (width < 590px) {
  .detail-color-wrapper {
    margin: 1rem 0 0 0;
    grid-row: 2;
  }

  .bg-star-color-container {
    row-gap: 1rem;
  }

  #color-range-input {
    width: 250px;
    grid-row: 2;
    padding-top: 0.8rem;
  }

  .bg-star-color-wrapper > p {
    max-width: 400px;
  }
}

@container font-container (width < 605px) {
  .font-options {
    display: grid;
    grid-template-columns: 70px 70px 70px;
    grid-template-rows: 70px 70px;
  }
}

@container frame-wrapper (width <= 600px) {
  .frame-sizes > #frame-A2 {
    width: calc(4.5cm / 1.2);
    height: calc(6.3cm / 1.2);
  }
  .frame-sizes > #frame-A3 {
    font-size: 1.3rem;
    width: calc(3.3cm / 1.2);
    height: calc(4.5cm / 1.2);
  }
  .frame-sizes > #frame-A4 {
    font-size: 1rem;
    width: calc(2.4cm / 1.2);
    height: calc(3.3cm / 1.2);
  }
  .frame-sizes > #frame-A5 {
    font-size: 0.8rem;
    width: calc(1.8cm / 1.2);
    height: calc(2.4cm / 1.2);
  }
}

@container frame-wrapper (width <= 500px) {
  .frame-sizes > #frame-A2 {
    width: calc(4.5cm / 1.5);
    height: calc(6.3cm / 1.5);
  }
  .frame-sizes > #frame-A3 {
    font-size: 1.3rem;
    width: calc(3.3cm / 1.5);
    height: calc(4.5cm / 1.5);
  }
  .frame-sizes > #frame-A4 {
    font-size: 1rem;
    width: calc(2.4cm / 1.5);
    height: calc(3.3cm / 1.5);
  }
  .frame-sizes > #frame-A5 {
    font-size: 0.8rem;
    width: calc(1.8cm / 1.5);
    height: calc(2.4cm / 1.5);
  }
}

@container frame-wrapper (width <= 450px) {
  .frame-sizes > #frame-A2 {
    width: calc(4.5cm / 2);
    height: calc(6.3cm / 2);
  }
  .frame-sizes > #frame-A3 {
    font-size: 1.3rem;
    width: calc(3.3cm / 2);
    height: calc(4.5cm / 2);
  }
  .frame-sizes > #frame-A4 {
    font-size: 1rem;
    width: calc(2.4cm / 1.7);
    height: calc(3.3cm / 1.7);
  }
  .frame-sizes > #frame-A5 {
    font-size: 0.8rem;
    width: calc(1.8cm / 1.7);
    height: calc(2.4cm / 1.7);
  }
}

@container input-wrappers (width < 590px) {
  .title-input-container {
    flex-direction: column;
    align-items: flex-start;
    row-gap: 1rem;
  }
  #title-size {
    margin-left: 1.75rem;
  }
  .description-input-container {
    flex-direction: column;
    align-items: flex-start;
    row-gap: 1rem;
  }
  #description-size {
    margin-left: 1.75rem;
  }
  #info-title-input {
    width: 50% !important; /* bad practice */
  }
}